@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Content/Signup/vendor/jquery/jquery-3.2.1.min.js"></script>

    <!-- tagsinput style -->
    <script src="~/Content/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/Content/js/tagsinput/typeahead.bundle.min.js"></script>


    <link href="~/Content/css/tagsinput/bootstrap-tagsinput.css" rel="stylesheet">


    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Signup/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Signup/css/main.css">




    <!--===============================================================================================-->
    <style>
        .bootstrap-tagsinput {
            width: 100%
        }

            .bootstrap-tagsinput .tag {
                background: gray;
            }

        .typeahead,
        .tt-query,
        .tt-hint {
            width: 396px;
            height: 22px;
            padding: 8px 12px;
            font-size: 14px;
            border: 2px solid #ccc;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            outline: none;
        }

        .typeahead {
            background-color: #fff;
        }

            .typeahead:focus {
                border: 2px solid #0097cf;
            }

        .tt-query {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #999
        }

        .tt-menu {
            width: 200px;
            margin: 12px 0;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            font-size: 14px;
            line-height: 24px;
        }

            .tt-suggestion:hover {
                cursor: pointer;
                color: #fff;
                background-color: #0097cf;
            }

            .tt-suggestion.tt-cursor {
                color: #fff;
                background-color: #0097cf;
            }

            .tt-suggestion p {
                margin: 0;
            }

        .gist {
            font-size: 14px;
        }

        /* example specific styles */
        /* ----------------------- */

        #custom-templates .empty-message {
            padding: 5px 10px;
            text-align: center;
        }

        #multiple-datasets .league-name {
            margin: 0 20px 5px 20px;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }

        #scrollable-dropdown-menu .tt-menu {
            max-height: 150px;
            overflow-y: auto;
        }

        #rtl-support .tt-menu {
            text-align: right;
        }
    </style>
</head>
<body style="background-color:mistyrose;text-align:left">


    <center><div class="alert alert-danger" id="dangerid" role="alert" style="display: none;"></div></center>
    <div class="limiter">
        <div class="container-login100">

            <form method="POST" class="login100-form validate-form">


                <div class="wrap-input100 validate-input m-b-16">

                    <h1>
                        <b>SIGNUP:</b>
                    </h1>

                    <br />
                    <div class="field item form-group">
                        <h5><label class="col-form-label col-md-3 col-sm-3  label-align">Display Name<span class="required">*</span></label></h5>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control login-field" id="Name" type="text" required>
                        </div>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16">
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">User Mail<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control login-field" id="Mail" type="email" pattern=".{3,}">
                            </div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tags<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control login-field" data-role="tagsinput" id="Tags" type="text" required>
                            </div>
                        </div>



                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Password<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control login-field" id="Pass" type="password" required>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="container-login50-form-btn p-t-25">
                            <button type="submit" onclick="fnvalid()" class="login100-form-btn" style="width:20%;margin-right:1000%">
                                SignUp
                            </button>
                        </div>
                    </center>
            </form>

        </div>
    </div>



</body>

</html>
<script>
		function fnvalid() {
            event.preventDefault();

            if ($('#Name').val() == "" || $('#Mail').val() == "" || $('#Pass').val() == "") {
                $('#dangerid').show().html("please Enter Details");
                return;
            }
			var arr = new Array();
			arr = $('#Tags').val();
			var data = $('#Tags').val();
			var arr = data.split(',');
			var obj = {
				tags: arr,
				user: {
					Name: $('#Name').val(),
					Email: $('#Mail').val(),
					Password: $('#Pass').val()
						}
			}
										$.ajax({
											url: "/User/Insert",
											method: "POST",
											data: JSON.stringify(obj),
											contentType: "application/json",
											cache: false,
												success: function (res) {
													if (res == "Done") {
														window.location.href = '@Url.Action("Index", "Question")';
													}
													else
														$('#dangerid').show().html(res);

												},

											error: function (err) {

											}
										});

									}
	var cities = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		prefetch: "../Content/jsonData/cities.json"
	});
	cities.initialize();

	var elt = $('#Tags');
	elt.tagsinput({
		itemValue: 'Id',
		itemText: 'Name',
		typeaheadjs: {
			name: 'cities',
			displayKey: 'Name',
			source: cities.ttAdapter()
		}
	});

	$("#Tags").val()
</script>

<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="~/Content/Signup/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Signup/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Signup/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Signup/js/main.js"></script>
