@model QnA.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<style>
    .profile_details .profile_view .left {
        margin-top: 0px;
    }

</style>
<div class="page-title">
    <div class="title_left">
        <h3>User</h3>
    </div>
</div>
<div class="clearfix"></div>

@foreach (var data in Model.userList)
{
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
    <div class="profile_details">
        <div class="well profile_view">
            <div class="col-sm-12">
                <div class="left col-sm-8">
                    <h2>@data.Name</h2>
                    <p><strong>25000</strong></p>
                    <p>
                        <span>50</span>
                        <span>100</span>
                        <span>500</span>
                    </p>
                </div>
                <div class="right col-sm-4 text-center">
                    <img src="https://lh3.googleusercontent.com/proxy/FwHECvyo8HU-COUou_rG1mEdhblJlJdPFEVQsafjR2ST_1_1-Tjjaad9i9fbspHLKtDd0Y5E3xwcTgQxlqx5tJyZfaIv98cvC3z0Dvi6xW_kHX6GlAbwWQ" alt="" width="100" class="img-circle img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
}