@model QnA.ViewModels.QuestionViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
<style>
    /* scaffolding */
    /* ----------- */



    /* base styles */
    /* ----------- */


    /* site theme */
    /* ---------- */


    .bootstrap-tagsinput {
        width: 100%
    }

        .bootstrap-tagsinput .tag {
            background: gray;
        }

    .typeahead,
    .tt-query,
    .tt-hint {
        width: 396px;
        height: 22px;
        padding: 8px 12px;
        font-size: 14px;
        border: 2px solid #ccc;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        outline: none;
    }

    .typeahead {
        background-color: #fff;
    }

        .typeahead:focus {
            border: 2px solid #0097cf;
        }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-menu {
        width: 200px;
        margin: 12px 0;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 14px;
        line-height: 24px;
    }

        .tt-suggestion:hover {
            cursor: pointer;
            color: #fff;
            background-color: #0097cf;
        }

        .tt-suggestion.tt-cursor {
            color: #fff;
            background-color: #0097cf;
        }

        .tt-suggestion p {
            margin: 0;
        }

    .gist {
        font-size: 14px;
    }

    /* example specific styles */
    /* ----------------------- */

    #custom-templates .empty-message {
        padding: 5px 10px;
        text-align: center;
    }

    #multiple-datasets .league-name {
        margin: 0 20px 5px 20px;
        padding: 3px 0;
        border-bottom: 1px solid #ccc;
    }

    #scrollable-dropdown-menu .tt-menu {
        max-height: 150px;
        overflow-y: auto;
    }

    #rtl-support .tt-menu {
        text-align: right;
    }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>
            Ask a public question
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_content">
                <form>

                    <span class="section">@Model.type Question</span>
                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align">Title<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="title" class="form-control" />
                        </div>
                    </div>



                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align">Body<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6">
                            <div style="height: 250px;" id="body">

                            </div>
                        </div>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align">Tags<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" data-role="tagsinput" id="Tags" type="text">
                        </div>
                    </div>


                    <div class="ln_solid">
                        <div class="form-group">
                            <div class="col-md-6 offset-md-3">
                                <button type='submit' class="btn btn-primary" onclick="AddQuestion()">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
function AddQuestion() {
			event.preventDefault();
			var arr = new Array();
			arr = $('#Tags').val();
			var data = $('#Tags').val();
			var arr = data.split(',');
			var obj = {
				tags: arr,
				forum: {
					Title: $('#title').val(),
					Body: $(".ql-editor").html(),
					UserId:@Model.Id
						}
			}
										$.ajax({
											url: "/Question/AddForum",
											method: "POST",
											data: JSON.stringify(obj),
											contentType: "application/json",
											cache: false,
												success: function (res) {
													if (res == "Done") {
														alert("Question Inserted");
                                                    }
                                                    else
														alert("Question Not Inserted");


												},

											error: function (err) {

											}
										});

									}
    var toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        ['bold', 'italic','link', 'image'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'align': [] }],


    ]
    var quill = new Quill('#body', {
        modules: { toolbar: toolbarOptions },
        theme: 'snow'
    })


    var cities = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: "../Content/jsonData/cities.json"
    });
    cities.initialize();

    var elt = $('#Tags');
    elt.tagsinput({
        itemValue: 'Id',
        itemText: 'Name',
        typeaheadjs: {
            name: 'cities',
            displayKey: 'Name',
            source: cities.ttAdapter()
        }
    });

    $("#Tags").val()

    //id of forumid is forum_id(hiddentextbox)

</script>
