@model QnA.ViewModels.TagViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Tags</h3>
    </div>
</div>
<div class="clearfix"></div>

@foreach (var data in Model.taglist)
{
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header">
                @data.Name
            </div>
            <div class="card-body">
                <p class="card-text">@data.Description</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">12345 Questions</small>
            </div>
        </div>
    </div>
}


